@font-face {
  font-family: Proxima;
  src: url(../fonts/Proxima\ Nova\ Bold.otf);
}

@font-face {
  font-family: ProximaReguler;
  src: url(../fonts/ProximaNova-Regular.otf);
}

* {
  font-family: Proxima;
  /* color: black; */
}

span {
  font-size: 2em;
}

.allTaskOptions {
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.allTaskOptions div {
  margin-left: 60px;
  margin-top: 25px;
}

.allTaskOptions select,
option {
  border-radius: 5px;
  background-color: #f3f3f3;
  font-family: ProximaReguler;
  border: none;
}

#taskTR td {
  font-family: ProximaReguler;
}
/* 
#InfoTD button{
  border-radius:50px;
  text-align: center;
  display: inline-block;
} */

#createTaskForm {
  padding-top: 50px;
  width: 50%;
  margin: 0 auto;
}

.DetailsContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#UserDetailsBlock,
#TaskDetailsBlock {
  background-color: #f3f3f3;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px;
  border: none;
  border-radius: 18px;
}

#TaskDetailsBlock h5{
  font-family: ProximaReguler;
}

#UserDetailsBlock span,
h4 {
  font-family: ProximaReguler;
}

#UserDetailsBlock h3 {
  margin-bottom: 50px;
}

#TaskDetailsBlock {
  align-items: flex-start;
  margin-left: 100px;
  padding-right: 200px;
}

button {
  margin: 0px;
}

#LogoutButton {
  font-family: ProximaReguler;
  color: black;
  background-color: white;
  border-radius: 11px;
  border: none;
  text-transform: none;
  font-size: 2rem;
  font-weight: lighter;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#CustomTaskNav {
  /* color: rgb(71, 92, 99); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  background-color: #c7e5ff;
  color: black;
  padding: 10px;
  font-size: 2.1rem;
}

#CustomTaskNav span {
  font-family: ProximaReguler;
  color: black;
}

p {
  margin: 0px;
}

.taskClass {
  display: flex;
  color: white;
  background: rgb(71, 92, 99);
  align-items: center;
  justify-content: space-around;
  border: 0.5rem solid rgb(71, 92, 99);
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.taskTable {
  width: 100%;
  padding: 50px;
}

.taskCancelButton,
.taskModifyButton {
  color: white;
}

#createTaskButton {
  background-color:#c7e5ff;
  /* border: 1px solid black; */
  color: black;
}

.inputClass {
  display: flex;
  justify-content: space-around;
}

Table {
  padding: 5px;
}

.parameters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: red; */
}

.parameters label {
  margin-top: 5px;
}
