.formBg{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(228, 237, 245,.5);
    text-align:center;
}

.form-container{
    max-width: auto;
    margin: auto;
    padding: 20px;
    /* background-color: rgba(228, 237, 245,.8); */
    text-align: left;
    /* margin-top: 50px; */
}

.loginForm{
    text-align: left ;
}

.CreateTask h1{
    text-align: center;
}

/* .allTaskOptions{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    margin-top: 25px;
} */

/* #InfoButton{
    height: 50px;
    line-height: 80px;  
    width: 50px;  
    font-size: 1.5em;
    border-radius: 50%;
    color: black;
    font-weight: lighter;
    cursor: pointer;
    font-family: Pacifico;
    text-transform: lowercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center ;
} */