.formBg{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(228, 237, 245,.5);
    text-align:center;
}

.form-container{
    max-width: auto;
    margin: auto;
    padding: 20px;
    /* background-color: rgba(228, 237, 245,.8); */
    text-align: left;
    /* margin-top: 50px; */
}

.loginForm{
    text-align: left ;
}

.CreateTask h1{
    text-align: center;
}

.allTaskOptions{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    margin-top: 25px;
    /* background-color: red; */
}

#InfoButton{
    font-family: 'Pacifico', cursive;
    text-transform: lowercase; 
    font-weight: normal;
    font-size: 20px;
}